@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, Arial, sans-serif;
}



h1, h2, p {
  text-align: center;
}


.pricing-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  gap: 20px;
  margin: auto;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  border: 2px solid black;
  justify-content: space-between;
  margin: 0 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

button {
  font-family: inherit;
  background-color:#F9FF9A;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
}

.basic-plan {
  background-color: #F5F5F5;
  order: 0;
}

.pro-plan {
  background-color: #FFFAFA; 
  order: 1;
  flex-grow: 2;
}

.premium-plan {
  background-color: #F8F8FF;
  order: 2;
}

ul {
  
  list-style-type: square;
}

li.green::marker {
  color: #33FF66;
  font-size: 1.5rem;
  font-weight: 800;
}

li.red::marker {
  color: #FF3300;
  font-size: 1.5rem;
  font-weight: 800;
}

button:hover {
  background-color: #3EFFBD;
}

.pricing-card:hover {
  transform: scale(1.1);
}
